
/*  As you review this CSS stylesheet, I have reorganized it so that they follow the flow of 
the index.html. The child elements now underneath the parent elements. 

On both the index.html and this CSS stylesheet I removed duplicate code and simplified the code 
when possible. I relabeled some elements on the index.html and its conterpart on this sheet. 

Pending any other client or end user comment or suggestions, I believe we have optimized this code.  */


/* universal styling - applied to the whole page. The size of the boxes will 
include the padding and border in thier total width and height.*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set the background color for the page  */
body {
    background-color: #d9dcd6;
}

/* The elements inside the header will appear on the same line besdies each 
other. The header will cover the width of the screen. This element also sets 
the font-family to be used and background color for the header  */
header {
    display:inline-block;
    width:100%;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

/* this is a child elemnt to the parent element of header. Set the font-size and 
color for the Horei and n of the company name in the header */
h1 {
    display: inline-block;
    font-size: 48px;
    color: #ffffff;
}

/* A child element of h1. Gets font-size from h1, and font-style from header. 
Sets the color for seo of the company name in the header. The font color here 
over rides the font color in h1. The class selector is a more specific 
identifier then the type selector of h1, and takes precidence over anything in h1 element selector  */
.seo {
    color: #d9dcd6;
}

/* This type selector is an un-ordered list. This is a parent element for li 
below. This sets the overall styling for the eveything inside it. */
ul {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
    margin-right: 20px;
    padding-top: 15px;
    text-align: right;
   
}

/* This type selector is a list item. It is a child element to the ul above, 
and takes precidence over anything in ul because it is more specific.  */
li {
    display: inline-block;
    margin-left: 25px;
}

/* This type selector know as an anchor element. This sets the color and text 
decoration for the anchor href items on index line 15-17. These 3 element 
appear on the right side of the header.  */
a {
    color: #ffffff;
    text-decoration: none;
}

/* This type selector set the font-size for eveything on the page with a 
<p> indetifier.  */
p {
    font-size: 16px;
    
}

/* This is a class selector and sets the styling for the image just below 
the header. It sets what image to use. It also set the image height, width, 
the bottom margin. It also sets it to cover the area of the box it creates 
and to center the picture in the box. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* This class selector styles the images in the Search Engine Optimization, 
and the Social media marketing box on the page. The image floats to the left 
side of the box in realtion to the text */
.float-left {
    float: left;
    margin-right: 25px;
}

/* This class selector styles the images in the Online Reputation Management 
box on the page. The image floats to the rigth side of the box in realtion 
to the text */
.float-right {
    float: right;
    margin-left: 25px;
}

/* This is a class selector. It is a parent to the article element below. It 
styles the space between/under the three boxes used to display the images 
and articles. */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* streamed line these, Removed the depicate code and replaced with an <article> tag.
This is a type selector and a parent to the h2 and img selector below. It sets the 
style for the 3 boxes along the left side of the page. */
article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* This is a type selector and a child element to the article seletor. It sets the style
specifically for the larger text in the article elements. */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #ffffff;
}

/* This type selctor and a child element to the article element above. Sets the image
maximum height at 200px. */
img {
    max-height: 200px;
}

/* This is a class selector in the <aside> element. This is a parent to several 
.benifit (no s) class selector below. It sets the style for the narrow box on the 
right side of the page. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* streamed line these. Removed the depicate code for .benefit-lead, -brand, -cost.
This is a class selector and a child element to the .benfits class selector above. This
sets the style for the text in the <aside> element  */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* streamed line these. Removed the depicate code for .benefit-lead h3, -brand, -cost. 
This is a class selector and a child element to the .benfits class selector above. This
sets the style for the larger text in the <aside> alement. */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* streamed line these. Removed the depicate code for .benefit-lead img, -brand, -cost. 
This is a class selector and a child element to the .benfits class selector above. This
sets the style and placement of the images in the <aside> element*/
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* This is a type selector and sets the font-family, and alignment for the footer element 
at the bottom of the page. This serves at the parent element to the footer h2 elemnt below. */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
}

/* This is a type element that is a child to the footer element above. It sets 
the font-size smaller than the default for <h2> that contains 'Made with ❤️️ by Horiseon' */
footer h2 {
    font-size: 20px;
}
